@main(title="whereuat | team") {
<div class="banner">
  <img id="ourteam" src='@routes.Assets.versioned("images/ourteam.png")'>
</div>
@teammate("Julius Alexander IV",
          "Backend & Android dev, Scala, Java, Clojure",
          "Godspeed You! Black Emperor, Functional Programming, Racquetball, Kurt Vonnegut",
          "julius.jpg")
@teammate("Peter Kang",
          "Backend dev, Scala, Java",
          "Just Dance 4, amateur astronomy, Chrome Sparks, Pokemon Puzzle League, teaching math",
          "peter.jpg")
@teammate("Spencer Whitehead",
          "Android dev, Java",
          "Goalie Mask, booty, Artificial Intelligence Research, Detroit Red Wings",
          "spencer.jpg")
@teammate("Raymond Jacobson",
          "iOS dev, Design, Swift",
          "Traveling, DSLR, Age of Empires II, Tycho, Natural Language Processing, Vinyl",
          "ray.jpg")
}
